* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: 'monospace', 'Courier New';
    font-size: 16px;
}

html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.915em;
}

h2 {
    font-size: 2.041em;
}

h3,
h4,
h5,
h6 {
    font-size: 1.429em;
}

div {
    font-size: 1em;
}

ol,
ul {
    list-style: none;
}